$primary-color: #007bff;
$hover-color: #006adb;
$white : #fff;

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    height: 80px;
    width: 100vw;

    nav{
        height: 100%;
        display: flex;
        flex-direction: row;
        .nav-link{
            padding-top: 0;
            padding-bottom: 0;

        }
        .nav-item{

        }
        #search-container{
            border: 1px solid $primary-color;
            background-color: $white;
            display: flex;
            justify-content: flex-start;
            border-radius: 5px;

            #search{
                border: none;
                outline: none;
                padding: 0;
                height: 30px;

            }
        }
    }
}
#btn-container{
    width: 100%;
    padding: 0 44px 0 44px;
    display: flex;
    justify-content: flex-end;

}
#btns{
    width: 350px;
    display: flex;
    justify-content: space-between;
    #highest{
        background-color: $primary-color;
        color: $white;
        height: 40px;
        width: 160px;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    #highest:hover{
        background-color: $hover-color;
        color: $white;
        height: 40px;
        width: 160px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
    }
    #lowest{
        background-color: $primary-color;
        color: $white;
        height: 40px;
        width: 160px;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    #lowest:hover{
        background-color: $hover-color;
        color: $white;
        height: 40px;
        width: 160px;
        outline: none;
        border: none;
        border-radius: 5px;
        transition: 0.3s;
    }
}
footer{
    width: 100vw;
    bottom: 0;
    position: absolute;
    a{
        text-decoration: none;
        color: #fff;
    }
}

